<mat-list role="list">
  <mat-list-item class="font" role="listitem">Tên Bài Thi : {{dataSource.name}} 1</mat-list-item>
  <mat-list-item class="font" role="listitem">Tên người thi : 2</mat-list-item>
  <mat-list-item class="font" role="listitem">Item 3</mat-list-item>
  <mat-list-item class="font" role="listitem">Item 3</mat-list-item>
  <mat-list-item class="font" role="listitem">Item 3</mat-list-item>
  <a href="/assignments-history" mat-list-item class="font" role="listitem">Back to list 3</a>
</mat-list>
