.grid-container {
  margin: 20px;
}

.quiz-card {
  max-width: 100%;
  margin: 20px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}
