<div class="mat-elevation-z8" *ngIf="dataSource.length > 0; else nodata">
  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="Point">
      <th mat-header-cell *matHeaderCellDef> Score</th>
      <td mat-cell *matCellDef="let element"> {{element.point}}%</td>
    </ng-container>
    <!-- Name Column -->
    <ng-container matColumnDef="Exam Name">
      <th mat-header-cell *matHeaderCellDef> Exam name</th>
      <td mat-cell *matCellDef="let element"> {{element.exam.examName}} </td>
    </ng-container>
    <ng-container matColumnDef="Start Time">
      <th mat-header-cell *matHeaderCellDef> Start Time</th>
      <td mat-cell *matCellDef="let element"> {{element.startTime | date:'dd/mm/yyyy hh: mm'}} </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> action</th>
      <td mat-cell *matCellDef="let row">
        <a [routerLink]="['/assignments-detail',row.id]" mat-raised-button color="primary">Detail</a>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<ng-template #nodata>
  <h1 >No data.</h1>
</ng-template>
