<h1>Point: {{point}}</h1>
<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile>
    <mat-card class="quiz-card"
              *ngFor="let question of questions; index as i; first as isFirst; last as isLast">
      <mat-card-header>
        <mat-card-title>
          Question {{i}} of {{ questions.length }}:
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <label id="example-radio-group-label">{{question.name}}</label>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="answerTS"
          (change)="checkAnswer()">
          <mat-radio-button [checked]="this.answerList.includes(answer)" class="example-radio-button" *ngFor="let answer of question.answer" [value]="answer">
            {{answer.name}}
          </mat-radio-button>
        </mat-radio-group>
        <div>Your favorite season is: {{answerTS}}</div>
      </mat-card-content>
      <mat-card-actions class="text-center example-button-row">
        <button *ngIf="!isFirst" mat-raised-button (click)="prevQuestion()">❮ Previous</button>
        <button *ngIf="!isLast; else ABC" mat-raised-button color="primary"
                (click)="nextQuestion()">Next ❯
        </button>
        <ng-template #ABC>
          <button mat-raised-button color="primary" (click)="resultExam()">Hoàn thành</button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <span>{{counter | formatTime}}</span>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="example-button-row">
        <button *ngFor="let q of questions; let i = index" mat-raised-button
                (click)="changeQuestion(i)">{{i + 1}}</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
