<mat-grid-list cols="2" rowHeight="100%">
  <mat-grid-tile>
    <mat-card class="quiz-card"
              *ngFor="let question of questions; index as i; first as isFirst; last as isLast">
      <mat-card-header>
        <mat-card-title>
          Question {{i}} of {{ questions.length }}:
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{question.name}}</p>
        <mat-radio-group class="example-radio-group">
          <mat-radio-button class="example-radio-button" *ngFor="let answer of this.question.answer"
                            [value]="answer.id">
            {{answer.name}}
          </mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <mat-card-actions>
        <button *ngIf="!isFirst" mat-raised-button (click)="prevQuestion()">❮ Previous</button>
        <button *ngIf="!isLast; else ABC" mat-raised-button color="primary"
                (click)="nextQuestion()">Next ❯
        </button>
        <ng-template #ABC>
          <button mat-raised-button color="primary" (click)="resultExam()">Submit</button>
        </ng-template>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Quiz navigation</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <button *ngFor="let question of this.fakeExam; let i = index" mat-raised-button
                (click)="changeQuestion(i)">{{i + 1}}</button>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
